.designsbody {
  background-color: #111110;
  padding: 50px 0px;
}
.designsmain {
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-inline: 40px;
  overflow-y: scroll;
}
.designleft img,
.designcenter img,
.designright img {
  width: 100%;
}
