.homemain {
  padding: 20px;
  background-image: url("../assests/homebg.png");
  height: 100vh;
  background-position: center center;
  background-color: #1b052d;
  overflow: hidden;
}
.navbar {
  background-color: #1f0238;
  border: solid 1px #7015c9;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navleft {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  font-weight: 800;
  text-align: center;
  gap: 10px;
}
.navleft p {
  display: inline;
}
.colorChange {
  color: #6b12bf;
  font-size: 17px;
}

.navright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}
.navright ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}
.navright ul li {
  list-style-type: none;
  cursor: pointer;
  position: relative;
  opacity: 1;
  transform: translateY(0);
}

.navright ul li:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navright ul li:hover {
  color: #771bc9;
  animation: slideUp 0.8s forwards;
}

.navrightmobile {
  display: none;
}
.contactbtn {
  background-color: #771bbe;
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  font-weight: 800;
}

.homecenter {
  height: calc(90vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homecenter h1 {
  font-weight: 800;
  display: inline;
  font-size: 40px;
}
.homecenter h1 u {
  text-decoration-color: #ffc100;
}
.colorYellow {
  color: #ffc100;
}
.homecenter p {
  width: 60%;
  font-size: 20px;
  margin: 30px 0;
}
.homecenter button {
  background-color: #771bc8;
  padding: 20px 30px;
  border: none;
  font-weight: 800;
  border-radius: 50px;
}
.homebottom {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
  align-items: center;
}
.homebutton1 {
  background: none;
  padding: 15px 30px;
  border-radius: 50px;
  border: 2px solid #54039d;
}
.homebutton2 {
  background-color: #360a60;
  border-radius: 100%;
  border: none;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homebutton2 img {
  height: 15px;
  width: 15px;
}

@media screen and (max-width: 1000px) {
  .homemain {
    background-image: none;
  }
  .navright {
    display: none;
  }
  .homecenter h1 {
    font-size: 24px;
  }
  .homecenter p {
    width: 80%;
    font-size: 16px;
  }
  .navrightmobile {
    display: block;
  }
  .navbar {
    border: none;
    background-color: transparent;
  }
}
